    /* PRESENTATION */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.presentation h2 {
    color: #000000;
    font-family: 'Lora', Garamond, Arial;
    font-size: 50px;
    font-weight: bold;
}

.presentation p {
    color: #000000;
    font-family: 'Lora', Garamond, Arial;
    font-size: 25px;
}

.presentation p span {
    font-weight: bold;
}


/* ARTICLES */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.fiche_article{
    border-style:solid;
    border-width: 3px;
    border-color: #000000;
}

.fiche_article h2{
    font-family: 'Lora', Garamond, Arial;
    font-weight: bold;
    font-size: 45px;
}

.fiche_article p{
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 25px;
}

.fiche_article p span{
    font-weight:bold;
}

.fiche_article .btns{
    border-radius: 20px;
    border-style: outset;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-weight: bold;
    font-size: 25px;
}

.fiche_article .btns:hover{
    background-color: #ffffff;
    transform: scale(1.1);
    transition: 1.5s;
}

.fiche_article .btn-ajout-panier{
    color: #ffffff;
    background-color: #7e1111;
    border-color: #7e1111;
}

.fiche_article .btn-ajout-panier:hover{
    color: #7e1111;
    }

.fiche_article .btn-details{
    color:#000000;
    background-color: #978562;
    border-color: #978562;
}

.fiche_article .btn-details:hover{
    color:#978562;
    }

.fiche_article  .image_article{
    min-width:20vw;
}


  /* ======================================================================
MEDIA QUERIES
====================================================================== */
