    /* PRESENTATION */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.presentation h2 {
    color: #000000;
    font-family: 'Lora', Garamond, Arial;
    font-size: 50px;
    font-weight: bold;
}

.presentation p {
    color: #000000;
    font-family: 'Lora', Garamond, Arial;
    font-size: 25px;
}

.presentation p span {
    font-weight: bold;
}

/* ARTICLES */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.fiche_article {
    border-style:solid;
    border-width: 3px;
    border-color: #000000;
}

.fiche_article h2 {
    font-family: 'Lora', Garamond, Arial;
    font-weight: bold;
    font-size: 45px;
    padding-left: 30px;
}

.fiche_article p {
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 25px;
    padding-left: 30px;
}

.fiche_article p span {
    font-weight:bold;
}

.fiche_article .btns {
    border-radius: 20px;
    border-style: outset;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-weight: bold;
    font-size: 25px;
}

.fiche_article .btns:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    transition: 1.5s;
}

.fiche_article .btn-details {
    color:#000000;
    background-color: #978562;
    border-color: #978562;
    margin-top: 80px;
}

.fiche_article .btn-details:hover {
    color:#978562;
    }

.fiche_article .btn-ajout-panier {
    color: #ffffff;
    background-color: #7e1111;
    border-color: #7e1111;
    margin-top: -50px;
}

.fiche_article .btn-ajout-panier:hover {
    color: #7e1111;
    }

.fiche_article  .image_article {
    min-width: 18vw;
    min-height: 18vh;
}

  /* ======================================================================
                    MEDIA QUERIES
====================================================================== */

@media screen and (max-width: 991px) {

    .presentation h2 {
        font-size: 40px;
    }

    .presentation p {
        font-size: 20px;
    }

    .fiche_article h2 {
        font-size: 35px;
    }
    
    .fiche_article p {
        font-size: 20px;
    }

    .fiche_article .btn-details {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .fiche_article .btn-ajout-panier {
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .fiche_article .image_article {
        width: 55vw;
        margin-top: 60px;
    }
}

@media screen and (max-width: 767px) {

    .fiche_article .image_article {
        width: 50vw;
    }
}

@media screen and (max-width: 575px) {

    .fiche_article h2 {
        font-size: 30px;
        padding-left: 10px;
        margin-top: -30px;
    }
    
    .fiche_article p {
        padding-left: 10px;
        margin-top: -30px;
        margin-bottom: 20px;
    }

    .fiche_article .image_article {
        width: 80vw;
        margin-bottom: 30px;
    }

    .fiche_article .btns {
        font-size: 20px;
    }

    .fiche_article .btn-ajout-panier {
        margin-right: 5px;
        margin-left: -20px;
    }
}