.voir_panier {
    border-style:solid;
    border-width: 3px;
    border-color: #000000;
}

.voir_panier h2 {
    font-family: 'Lora', Garamond, Arial;
    font-weight: bold;
    font-size: 45px;
}

.voir_panier p {
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 25px;
}

.voir_panier p span{
    font-weight:bold;
}

.voir_panier .btn-saisie-nbr {
    width:60px;

}

.voir_panier .btns {
    border-radius: 30px;
    border-style: outset;
    color: #ffffff;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-weight: bold;
    font-size: 25px;
}

.voir_panier .btns:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    transition: 1.5s;
}

/* .voir_panier .btn-ajout-panier {
    background-color: #7e1111;
    border-color: #7e1111;
}

.voir_panier .btn-ajout-panier:hover {
    color: #7e1111;
    }

.voir_panier .btn-details {
    background-color: #000000;
    border-color: #000000;
}

.voir_panier .btn-details:hover {
    color: #000000;
    } */

.voir_panier .image_article {
    width:10vw;
}