    /* ARTICLE */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.voir_panier {
    border-style:solid;
    border-width: 3px;
    border-color: #000000;
}

.voir_panier h2 {
    font-family: 'Lora', Garamond, Arial;
    font-weight: bold;
    font-size: 45px;
}

.voir_panier p {
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 25px;
}

.voir_panier p span{
    font-weight:bold;
}

.voir_panier .btn-saisie-nbr {
    width:60px;
}

.voir_panier .btns {
    border-radius: 15px;
    border-style: outset;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-weight: bold;
    font-size: 25px;
}

.voir_panier .btns:hover {
    transform: scale(1.1);
    transition: 1.5s;
}

.voir_panier .btn_modif {
    color:#000000;
    background-color: #978562;
    border-color: #978562;
}

.voir_panier .btn_modif:hover {
    color: #978562;
    background-color: #ffffff;
}

.voir_panier .btn_suppr {
    color:#7e1111;
    background-color: #ffffff;
    border-color: #7e1111;
}

.voir_panier .btn_suppr:hover {
    color:#ffffff;
    background-color: #7e1111;
}

.voir_panier .image_article {
    max-width: 8vw;
}


    /* TOTAL PANIER */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.totals {
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 30px;
}

.totals span {
    font-weight: bold;
}

.total_a_regler {
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 40px;
}

.total_a_regler span {
    font-weight: bold;
}


    /* BTNS VALLIDER & ANNULER */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.valider_vider_panier .btns_V_A {
    border-color: #7e1111;
    border-width: 3px;
    border-radius: 20px;
    border-style: outset;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 35px;
}

.valider_vider_panier .btns_V_A:hover {
    transform: scale(1.2);
    transition: 1.5s;
}

.valider_vider_panier .btn_valider {
    color: #ffffff;
    background-color: #7e1111;
    font-weight: bold;
}

.valider_vider_panier .btn_valider:hover {
    color: #7e1111;
    background-color: #ffffff;
}

.valider_vider_panier .btn_annuler {
    color: #7e1111;
    background-color: #ffffff;
}

.valider_vider_panier .btn_annuler:hover {
    color: #ffffff;
    background-color: #7e1111;
}


    /* MODAL */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.valider_vider_panier h5{
    color: #7e1111;
    font-family: 'Lora', Garamond, Arial;
    font-weight: bold;
    font-size: 45px;
}

.valider_vider_panier p{
    color: #000000;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 25px;
}

.valider_vider_panier p span{
    font-weight: bold;
}


/* <----BTNS-------------> */

.valider_vider_panier .btns {
    border-color: #7e1111;
    border-width: 3px;
    border-radius: 15px;
    border-style: outset;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-size: 20px;
}

.valider_vider_panier .btns:hover {
    transform: scale(1.1);
    transition: 1.5s;
}

.valider_vider_panier .btn-valider-accueil {
    color: #ffffff;
    background-color: #7e1111;
    font-weight: bold;
}

.valider_vider_panier .btn-valider-accueil:hover {
    color: #7e1111;
    background-color: #ffffff;
}

.valider_vider_panier .btn-retour-commande {
    color: #ffffff;
    background-color: #7e1111;
    font-weight: bold;
}

.valider_vider_panier .btn-retour-commande:hover {
    color: #7e1111;
    background-color: #ffffff;
}

.valider_vider_panier .btn-annuler-accueil {
    color: #7e1111;
    background-color: #ffffff;
}

.valider_vider_panier .btn-annuler-accueil:hover {
    color: #ffffff;
    background-color: #7e1111;
}